@use "base" as *;

.sowhat__title {
  font-size: 32px;
  font-weight: 900;
  border-bottom: 2px solid $color-text-blue;
  display: inline-block;
  padding-bottom: 10px;
}

.sowhat__title-sub {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
}

.sowhat__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 150px;
  padding-bottom: 150px;
}

// fv
.fv-sowhat {
  position: relative;
  width: 100%;
  padding-top: 58%;
  background: url(../img/fv_sowhat.jpg) center top / cover no-repeat;
}

.fv-sowhat__inner {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fv-sowhat__title {
  img {
    width: 130%;
    max-width: 900px;
    height: auto;
    display: block;
  }
}

.sowhat-lead {
  background: #f2f6ef;
  color: $color-text-blue;
  padding-bottom: 180px;
}

.sowhat-lead__inner {
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
}

.sowhat-lead__title {
  font-size: 40px;
  font-weight: 900;
}

.sowhat-lead__sub {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
}

.sowhat-lead-eat__title {
  margin-top: 80px;
}

.sowhat-lead-eat__text {
  margin-top: 100px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

.sowhat-lead__map {
  width: 100%;
  margin-top: 130px;
}

.map-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 80px 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.map-contents img {
  display: block;
  height: auto;
  min-width: 0;
}

.map-contents__img--ex {
  width: 460px;
  flex-shrink: 0;
}

.map-contents__img--decor {
  width: 600px;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .map-contents__img--ex,
  .map-contents__img--decor {
    flex-shrink: 1;
    max-width: 100%;
  }
}


// project
.sowhat-lead-project {
  background: #e1eada;
  color: $color-text-blue;
}

.sowhat-lead-project__inner {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.project {
  position: relative;
  margin-top: 140px;
}

.project__bg-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 87.45%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  z-index: 0;
}

.project__bg svg {
  width: 100%;
  height: auto;
  display: block;
}

.project__contents {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.project__card {
  margin-top: -40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 30px;
  width: 630px;
  text-align: center;
}

.project__item img {
  width: 291px;
  height: 182px;
  object-fit: cover;
}

.project__title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 900;
  line-height: 32px;
}

.project__text {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}
