@use "base" as *;
@use "mixin" as *;

.why__title {
  font-size: 32px;
  font-weight: 900;
  border-bottom: 2px solid $color-text-blue;
  display: inline-block;
  padding-bottom: 10px;

  @include tb{
    font-size: 30px;
  }
}

.why__title-sub {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
}

.why__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 55px;
  padding-bottom: 100px;
}

// fv
.fv-why {
  position: relative;
  width: 100%;
  padding-top: 58%;
  background: url(../img/fv_why.jpg) center top / cover no-repeat;
}

.fv-why__inner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fv-why__title {
  img {
    width: 100%;
    max-width: 690px;
    height: auto;
    display: block;
  }
}

// why-lead
.why-lead {
  background: #f2f6ef;
  color: $color-text-blue;
  padding-bottom: 122px;
}

.why-lead-unique__img {
  width: 100%;
}

.why-lead__inner {
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 93px;
  padding-left: 50px;
  padding-right: 50px;
}

.why-lead__title {
  font-size: 40px;
  font-weight: 900;

  @include tb{
    font-size: 36px;
  }

  @include sp{
    font-size: 26px;
  }
}

.why-lead__sub {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;

  @include tb{
    font-size: 14px;
  }
}

.why-lead__text-contents {
  margin-top: 24px;
  text-align: left;
  max-width: 1000px;

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
  }

  p + p {
    margin-top: 35px;
  }
}

// why-lead-unique
.why-lead-unique {
  background: #f2f6ef;
  color: $color-text-blue;
}

.why-lead-unique__inner {
  margin: 0 auto;
  text-align: center;
  padding-top: 41px;
}

.why-lead-unique__sub {
  letter-spacing: 1.6px;
}

.why_lead-unique__list {
  @media (max-width: 1110px) {
    padding-bottom: 200px;
  }

  @media (max-width: 900px) {
    padding-bottom: 300px;
  }
}

.unique-contents {
  position: relative;
  width: 76.85%;
  max-width: 999px;
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 1300px) {
  .unique-contents {
    width: calc(999 / 1300 * 100%);
    max-width: none;
  }
}

.unique-contents svg {
  width: 100%;
  height: auto;
  display: block;
}

.unique-contents--left {
  margin-left: 0;
  margin-right: auto;
}

.unique__inner {
  position: absolute;
  top: 230px;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: left;
  z-index: 1;
}

.unique__inner--left {
  left: 70%;
}

.unique__inner--rivers {
  top: 380px;

  @media (max-width: 900px) {
    top: 430px;
  }
}

.unique__inner--left--bay {
  top: 530px;
}

.unique__top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.unique__icon {
  width: 12.15vw;
  max-width: 158px;
  height: auto;
  margin-top: -30px;
}

.unique__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.unique__text {
  margin-top: 15px;
  font-size: 22px;
  text-align: left;
  margin-left: 80px;
  max-width: 610px;
  line-height: 34px;
}

.unique__bottom-img {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  margin-left: 75px;
}

.unique__bottom-img img {
  aspect-ratio: 291/182;
  width: calc(50% - 15px);
  height: auto;
  object-fit: contain;
  max-width: 291px;
}

// why_lead_nature
.why-lead-nature {
  background: #e1eada;
  color: $color-text-blue;
  padding-bottom: 150px;
  overflow-x: hidden;
}

.why-lead-nature__top {
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0;
}

.why-lead-nature__img {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  min-width: 0;
}

.why-lead-nature__img img {
  flex: 1 1 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  min-width: 0;
}

.why-lead-nature__inner {
  padding-top: 41px;
  text-align: center;
}

.nature__inner {
  top: 102%;
  width: 90%;
}

.harmony__inner--left {
  top: 80%;
}

.nature__item + .nature__item {
  margin-top: 80px;
}

.nature__top {
  margin-left: 32px;
}

.nature__icon {
  margin-top: -48px;
}

.nature__title {
  margin-top: -50px;
}

.nature__text {
  margin-left: 220px;
  margin-top: -30px;
  max-width: calc(100% - 120px);
}
