@use "base" as *;

.true_title {
  font-size: 32px;
  font-weight: 900;
  border-bottom: 2px solid $color-text-blue;
  display: inline-block;
  padding-bottom: 10px;
}

.true_title_sub {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
}

.true_list {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-top: 55px;
  padding-bottom: 100px;
}

// fv
.fv-true {
  position: relative;
  width: 100%;
  padding-top: 58%;
  background: url(../img/fv_true.jpg) center top / contain no-repeat;
}

.fv-true__inner {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fv-true__title {
  img {
    width: 112%;
    max-width: 800px;
    height: auto;
    display: block;
  }
}

.true-lead {
  background: #f2f6ef;
  color: $color-text-blue;
  padding-bottom: 122px;
}

.true-lead__inner {
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
}

.true-lead__title {
  font-size: 40px;
  font-weight: 900;
}

.true-lead__sub {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
}

.true-lead__text-contents {
  margin-top: 24px;
  text-align: left;

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
  }
}

// true-lead-infinite
.true-lead-infinite {
  background: #f2f6ef;
  color: $color-text-blue;
}

.true-lead-infinite__inner {
  margin: 0 auto;
  text-align: center;
}

.infinite__contents {
  position: relative;
  width: 87.45%;
  max-width: 1137px;
  margin-left: auto;
  margin-right: 0;
}

/* 1300px以上は幅を画面に合わせて拡大 */
@media (min-width: 1300px) {
  .infinite__contents {
    width: calc(1137 / 1300 * 100%); /* 元の比率を保持しつつ拡大 */
    max-width: none; /* 上限を解除して拡大 */
  }
}

.infinite__contents svg {
  width: 100%;
  height: auto;
  display: block;
}

.infinite__inner {
  position: absolute;
  top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px; /* 間隔調整 */
  padding-bottom: 10px;
  padding-left: 70px;
  width: 72%;
}

.infinite__item {
  flex: 1;
  text-align: center;
}

.infinite-item__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.infinite-item__img-nigiru {
  margin-top: 42px;
}

.infinite-item__img-chirasu {
  width: 85%;
  margin-top: 7px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.infinite-item__img-maku {
  width: 85%;
  margin-top: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.infinite-item__img-noseru {
  width: 150%;
  margin-left: -30px;
  margin-top: 10px;
}

.infinite-item__img-osu {
  width: 75%;
  margin-top: 24px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.infinite-item__img-tsutsumu {
  width: 85%;
  margin-top: 38px;
  align-items: center;
}

.infinite-item__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  margin-top: 15px;
  width: 226px;
}

.infinite-item__text--noseru {
  width: 226px;
  margin-top: -15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

// true-lead-map
.true-lead-map {
  background-color: #f2f6ef;
  color: $color-text-blue;
}

.true-lead-map__inner {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 90px;
}

.map-contents {
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  align-items: start;
  width: 800px;
}

.map-icons {
  display: grid;
  gap: 13px;
  text-align: center;
  margin-top: 120px;
}

.map-icons__item {
  text-align: center;
  margin: 0 auto;
}

.map-icons__item p {
  font-size: 15px;
  font-weight: 900;
  line-height: 32px;
}

.map-icons__item img {
  margin-top: 8px;
  height: 60px;
  width: auto;
}

.map-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  width: 100%;
  height: auto;
}

.map-columns__top img {
  height: 120px;
  width: auto;
}

.map-columns__box {
  background: #fff;
  width: 300px;
  height: 90px;
}

.map-columns__box p {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

.true-lead-map__decor {
  width: 100%;
}

// true-lead-catalog
.true-lead-catalog {
  position: relative;
  background-color: #ff7c77;
  margin-top: -2px;
  color: $color-text-blue;
}

.true-lead-catalog__inner {
  margin: 0 auto;
  padding-top: 56px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.true-lead-catalog__title {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 12px;
}

.true-lead-catalog__sub {
  color: #fff;
}

.true-lead-catalog__text {
  color: $color-text-blue;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  width: 1000px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
}

.catalog-cards {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  position: relative; /* 疑似要素の基準 */
  z-index: 2;
}

.catalog-cards::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
  background: #ffffff;
  z-index: 1;
  pointer-events: none;
}

.catalog-card {
  position: relative;
  z-index: 3;
  background: transparent;
  box-sizing: border-box;
}

.catalog-card img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.catalog-card__title {
  color: rgba(38, 100, 138, 0.5);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}
.catalog-card__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 10px;
}

// true-lead-style
.true-lead-style {
  background: #f2f6ef;
  text-align: center;
  color: $color-text-blue;
}

.true-lead-style__inner {
  padding: 112px 30px 220px;
}

.style-cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.style-card__img img {
  width: 266px;
  height: auto;
  object-fit: cover;
}

.style-card__body {
  background-color: #fff;
  width: 266px;
  height: 94px;
  margin-top: 21px;
}

.style-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 17px;
}

.style-card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 5px;
}


