@use "base" as *;

.about__title {
  font-size: 32px;
  font-weight: 900;
  border-bottom: 2px solid #00bb3f;
  display: inline-block;
  padding-bottom: 10px;
  color: #00bb3f;
}

.about__title--sub {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
  color: #00bb3f;
}

// fv
.fv-about {
  position: relative;
  width: 100%;
  padding-top: 58%;
  background: url(../img/fv_about.jpg) center top / cover no-repeat;
}

.fv-about__inner {
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fv-about__title {
  img {
    width: 150%;
    max-width: 820px;
    height: auto;
    display: block;
  }
}

// about-guide
.about-guide {
  background: #000;
  margin-top: -2px;
}

.about-guide__inner {
  padding-top: 120px;
}

.about-guide__title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

.about-guide__sub {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
  color: #fff;
  margin-top: 20px;
}

.guide {
  position: relative;
  padding-bottom: 112vw;
  overflow-x: hidden;
}

.guide__contents {
  position: relative;
}

.guide__item {
  position: relative;
}

.guide__head {
  text-align: center;
  position: absolute;
}

.guide__head--what {
  top: 14.6vw;
  left: 24vw;
}

.guide__head--history {
  top: 48vw;
  left: 31vw;
}

.guide__head--sake {
  top: 67vw;
  left: 5vw;
}

.guide__head--use {
  top: 91vw;
  right: 17vw;
}

.guide__title {
  font-size: 32px;
  font-weight: 900;
}

.guide__title--what {
  color: #fdd700;
}

.guide__title--history {
  color: #fd40de;
}

.guide__title--sake {
  color: #2ed147;
}

.guide__title--use {
  color: #5ca1ee;
}

.guide__line--history {
  margin-left: 40px;
}

.guide__line--sake {
  margin-top: -15px;
}

.guide__sub {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 8px;
}

.guide__sub--what {
  margin-top: 20px;
}

.guide__sub--history {
  margin-top: 20px;
  margin-left: 180px;
}

.guide__sub--use {
  margin-top: 20px;
}

.guide__sub--sake {
  margin-top: 20px;
}

.guide__img {
  position: absolute;
}

.guide__img--what {
  width: 62%;
  top: 8vw;
  left: -3vw;
  z-index: 2;
}

.guide__img--history {
  width: 73%;
  top: -8.5vw;
  right: -9.3vw;
  z-index: 1;
}

.guide__img--sake {
  width: 40%;
  top: 62vw;
  left: 4vw;
  z-index: 2;
}

.guide__img--use {
  width: 59%;
  top: 62vw;
  right: 0;
}

// glossary
.about-glossary {
  background: #99ffd4;
  margin-top: -2px;
  text-align: center;
}

.about-glossary__inner {
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.glossary-book {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
}

.glossary-book__base {
  width: 100%;
  display: block;
}

.glossary-book__inner {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.glossary-book__photo {
  width: 90%;
  margin-left: 37px;
  position: relative;
}

.glossary-book__label {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-weight: 900;
  line-height: 52px;
  text-align: left;
  position: absolute;
  bottom: 170px;
  left: 60px;
}

.glossary-book__right {
  position: relative;
  text-align: center;
  color: $color-text-blue;
  margin-top: 100px;
  margin-left: -70px;
}

.glossary-book__category {
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  position: relative;
  z-index: 2;
}

.glossary-book__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  position: relative;
  z-index: 2;
}

.glossary-book__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  width: 380px;
  text-align: left;
  margin-left: 130px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.glossary-book__right-bg {
  display: none;
  width: 80%;
  min-height: 540px;
  position: absolute;
  top: -101px;
  left: 50px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.glossary-book__detail-btn {
  background: #26648a;
  width: 110px;
  height: 36px;
  // margin-left: 350px;
  color: #fff;
  line-height: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 20px;
  position: absolute;
  bottom: 160px;
  right: 100px;
  z-index: 2;
}

.glossary-book__detail {
  font-size: 13px;

  span {
    font-size: 24px;
  }
}

.glossary-nav {
  margin-top: 40px;
  color: $color-text-blue;
}

.glossary-nav__category {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  background: #fff;
  display: inline-block;
  padding-bottom: 3px;
  width: 415px;
}

.glossary-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 65px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 20px;
  padding-bottom: 90px;
}
.book-nav__btn {
  font-size: 24px;
  font-weight: 900;
  line-height: 38px;
  color: $color-text-blue;
}

// dictionary
.about-dictionary {
  background: #fff;
  margin-top: -2px;
  text-align: center;
}

.about-dictionary__inner {
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

.about-dictionary__title {
  color: #777dff;
  border-bottom: 2px solid #777dff;
}

.about-dictionary__sub {
  color: #777dff;
}

.dictionary-book {
  position: relative;
  margin: 20px auto;
  max-width: 1100px;
}

.dictionary-book__base {
  width: 100%;
  display: block;
}

.dictionary-book__inner {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dictionary-book__photo {
  width: 90%;
  margin-left: 37px;
  position: relative;
}

.dictionary-book__label--sub {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 900;
  line-height: 25px;
  text-align: left;
  position: absolute;
  bottom: 280px;
  left: 75px;
}

.dictionary-book__label {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 96px;
  font-weight: 900;
  line-height: 52px;
  text-align: left;
  position: absolute;
  bottom: 200px;
  left: 60px;
}

.dictionary-book__label.small {
  font-size: 64px;
  line-height: 98px;
  bottom: 180px;
}

.dictionary-book__right {
  text-align: center;
  color: $color-text-blue;
  margin-top: 100px;
  margin-left: -70px;
}

.dictionary-book__category {
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
}

.dictionary-book__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}

.dictionary-book__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  width: 380px;
  text-align: left;
  margin-left: 130px;
  margin-top: 20px;
}

.dictionary-book__detail-btn {
  background: #26648a;
  width: 110px;
  height: 36px;
  // margin-left: 350px;
  color: #fff;
  line-height: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 20px;
  position: absolute;
  bottom: 160px;
  right: 100px;
}

.dictionary-book__detail {
  font-size: 13px;

  span {
    font-size: 24px;
  }
}

.dictionary-nav {
  margin-top: 40px;
  color: $color-text-blue;
}

.dictionary-nav__category {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  background: #99ffd4;
  display: inline-block;
  padding-bottom: 3px;
  width: 415px;
}

.dictionary-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 65px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 20px;
  padding-bottom: 90px;
}

.dictionary-nav__btn {
  font-size: 24px;
  font-weight: 900;
  line-height: 38px;
  color: $color-text-blue;
}

// types
.about-types {
  background: #000;
  margin-top: -2px;
}

.about-types__inner {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 270px;
  text-align: center;
}

.about-types__title {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.about-types__sub {
  color: #fff;
}

.types__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.types-card {
  width: 100%;
}

.type-card__top {
  width: 100%;
  max-width: 320px;
  height: 84px;
  position: relative;
  margin: 0 auto;
}

.types-card__top-bg {
  width: 100%;
  height: auto;
  display: block;
}

.types-card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
  line-height: 30px;
  color: $color-text-blue;
  width: 214px;
}

.types-card__title {
  font-size: 24px;
}

.types-card__subtitle {
  font-size: 20px;
}

.types-card__img {
  width: 100%;
  max-width: 320px; /* タブと揃えると綺麗 */
  margin: 20px auto 0;
  height: 200px;
  overflow: hidden;
}
