@use "base" as *;
@use "page-why" as *;
@use "page-true" as *;
@use "page-sowhat" as *;
@use "page-about" as *;

// header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(63, 66, 69, 0.35);
  z-index: 1000;
}

.header__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px;
}

.header__logo {
  img {
    max-width: 432px;
    height: auto;
    display: block;
  }
}

.header__nav-toggle {
  margin-left: auto;
  margin-right: 50px;
  img {
    max-width: 51px;
    display: block;
  }
}

// footer
.footer {
}

.footer__decor {
  position: relative;
  margin-top: -120px;
  display: block;
}

.footer__sushi-map {
  margin-top: -2px;
}

.footer__contents {
  position: relative;
  text-align: center;
  color: #1b4865;
  padding-bottom: 150px;
}

.footer__contents img {
  position: absolute;
  top: -50px;
  z-index: -1;
}

.footer__inner {
  padding-top: 112px;
}

.footer__title {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
}

.footer__lead {
  padding-top: 66px;
}

.footer__lead-title {
  color: #736b36;
  font-size: 32px;
  font-weight: 900;
}

.lead-top__text {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  width: 605px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.footer__company {
  padding-top: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  width: 605px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.footer_company-strong {
  font-weight: 700;
}

.footer__lead-team {
  margin-top: 65px;
}

.lead-team__memver {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.btn-contact {
  display: inline-block;
  width: 678px;
  background-color: #736b36;
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 115px;
}

.footer__icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  z-index: 10;
  width: 200px;
}

.footer__icon img {
  width: 86px;
  height: auto;
}

.icon__muntain {
  padding-left: 120px;
}

.footer__copyright {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

// fv
.fv {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fv__bg img {
  width: 100%;
  display: block;
}

.fv__bg--bottom {
  margin-top: -15px;
}

.fv__sea {
  width: 100%;
  display: block;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  margin-bottom: -160px;
}

.fv__title-back {
  position: absolute;
  top: 39%;
  left: 0;
  width: 100%;
  z-index: 3;
}

.fv__mask {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  display: block;
}

.fv__contents {
  position: absolute;
  top: 29%;
  left: 0;
}
.fv__top-text {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  color: $color-text-blue;
}

.fv__main {
  padding-top: 210px;
  padding-left: 95px;
  padding-right: 95px;
}

.fv__title img {
  position: relative;
  z-index: 3;
  width: 70%;
}

.fv__title-sub {
  position: relative;
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  z-index: 3;
  margin-top: 70px;
  margin-left: 20px;
}

.fv__lead {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2px;
  z-index: 3;
  text-align: left;
  width: 498px;
  margin-top: 40px;
  margin-left: 20px;
}

.fv-links {
  position: absolute;
  top: 860px;
  right: 150px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  z-index: 4;
}

.fv-link--true {
  margin-left: -70px;
}

.fv-link--sowhat {
  margin-left: -140px;
}

.fv-link--about {
  margin-left: -210px;
}

.fv-link {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  z-index: 4;
}

.fv-link__icon svg {
  width: 51px;
  height: 26px;
  display: block;
}

.fv-link__icon svg + svg {
  margin-top: 3px;
}

.fv-link__title-en {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
}

.fv-link__title-en span {
  font-weight: 500;
}

.fv-link__title-jp {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 3px;
  letter-spacing: 4.8px;
  margin-top: 10px;
}

.fv__text-bottom {
  color: #e0e741;
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 2px;
  z-index: 3;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

// video
.video-section {
  width: 100%;
  background: #06132f;
  padding-bottom: 300px;
}

.video-section__inner {
  margin: 0 auto;
  text-align: center;
}

.video-section__movie {
  width: 100%;
  overflow: hidden;
}

.video-section__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-section__cta {
  margin-top: 40px;
}

.video-section__icon{
  margin-top: 5px;
}

.video-section__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 60px;
  border-radius: 999px;
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  text-decoration: none;
  border: 2px solid #fff;
  color:#fff;
}
